main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }
  main h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2em;
  }
  main section{
    margin: 20px 0;
    line-height: 1.2em;
  }
  main header{
    margin: 6px 0;
}
  main header h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2em;
  }
  main img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  main article{
    margin: 6px 0;
    width:100%
}